body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex; /* layout: navbar + content */
}

/* ===== NAVBAR (LEFT SIDEBAR) ===== */
.navbar {
    width: 220px;
    background: #000080;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-links a {
    color: rgb(83, 8, 8);
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #00bcd4;
}

.container {
    flex: 1;             
    background: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
}


input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    margin-top: 5px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

li.complete {
    text-decoration: line-through;
}

.delete {
    color: red;
    cursor: pointer;
}