body {
    margin: 0;
    display: flex;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* ===== NAVBAR ===== */
.navbar {
    width: 220px;
    height: 100vh;
    background: #000080;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.logo {
    margin-bottom: 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-links a {
    color: rgb(219, 65, 65);
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #00bcd4;
    transform: translateX(5px);
    transition: 0.2s;
}

/* ===== MAIN CONTENT ===== */
.container {
    margin-left: 240px;
    padding: 30px;
    flex: 1;
}

/* TIME */
#time {
    font-size: 40px;
    color: #000080;
}

/* DATE */
#date {
    margin-bottom: 20px;
}

/* INPUT */
input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px;
    cursor: pointer;
}

/* TASK LIST */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin-top: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

li.complete {
    text-decoration: line-through;
}

.delete {
    color: red;
    cursor: pointer;
}